<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_1_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <servlet-name>LoginIntoSystem</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>StudentAttendant</servlet-name>
  	<jsp-file>/pages/Attendant/StudentAttendant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentAttendant</servlet-name>
  	<url-pattern>/view/attendant/StudentAttendant</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginIntoSystem</servlet-name>
    <url-pattern>/AccessSystem</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherPanel</servlet-name>
  	<jsp-file>/pages/teacher/TeacherPanel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherPanel</servlet-name>
  	<url-pattern>/view/panel/TeacherPanel</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherProfile</servlet-name>
  	<jsp-file>/pages/teacher/TeacherProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherProfile</servlet-name>
  	<url-pattern>/view/profile/TeacherProfile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherSchedule</servlet-name>
  	<jsp-file>/pages/teacher/TeacherSchedule.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherSchedule</servlet-name>
  	<url-pattern>/view/schedule/TeacherSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StudentPanel</servlet-name>
  	<jsp-file>/pages/students/StudentPanel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentPanel</servlet-name>
  	<url-pattern>/view/panel/StudentPanel</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ClassTeaching</servlet-name>
  	<jsp-file>/pages/teacher/ClassTeaching.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClassTeaching</servlet-name>
  	<url-pattern>/view/teaching/ClassTeaching</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StudentSchedule</servlet-name>
  	<jsp-file>/pages/TimeTable/StudentSchedule.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentSchedule</servlet-name>
  	<url-pattern>/view/schedule/StudentSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ClassManagement</servlet-name>
  	<jsp-file>/pages/ClassStudy/ClassStudyManagement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClassManagement</servlet-name>
  	<url-pattern>/view/classes/ClassManagement</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>TeacherTimetable</servlet-name>
  	<jsp-file>/pages/TimeTable/ClassSchedule.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TeacherTimetable</servlet-name>
  	<url-pattern>/view/detail/ClassSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddTime</servlet-name>
  	<jsp-file>/pages/TimeTable/AddTime.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddTime</servlet-name>
  	<url-pattern>/view/Timetable/AddTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentProfile</servlet-name>
    <jsp-file>/pages/students/StudentProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentProfile</servlet-name>
    <url-pattern>/view/profile/StudentProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacherClass</servlet-name>
    <jsp-file>/pages/ClassStudy/AddTeacherClass.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherClass</servlet-name>
    <url-pattern>/view/add/TeacherClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentCard</servlet-name>
    <jsp-file>/pages/students/StudentCard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCard</servlet-name>
    <url-pattern>/view/card/StudentCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentNameList</servlet-name>
    <jsp-file>/pages/students/StudentNameList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentNameList</servlet-name>
    <url-pattern>/view/detail/NameList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacherSkill</servlet-name>
    <jsp-file>/pages/teacher/AddTeacherSubject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherSkill</servlet-name>
    <url-pattern>/view/teacher/NewTeacherSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacherSubject</servlet-name>
    <jsp-file>/pages/teacher/AddTeacherSubject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherSubject</servlet-name>
    <url-pattern>/view/Teacher/AddTeacherSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListTeacher</servlet-name>
    <jsp-file>/pages/teacher/Teacherlist.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeacher</servlet-name>
    <url-pattern>/view/detail/ListTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacher</servlet-name>
    <jsp-file>/pages/teacher/AddTeacher.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/view/Teacher/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewTeacher</servlet-name>
    <servlet-class>services.teacher.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewTeacher</servlet-name>
    <url-pattern>/AddANewTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEducationTeacher</servlet-name>
    <jsp-file>/pages/teacher_education/Add_TeacherEducation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEducationTeacher</servlet-name>
    <url-pattern>/view/teacher_education/AddEducationTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTeacherEducationServlet</servlet-name>
    <servlet-class>services.education.AddNeweducation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherEducationServlet</servlet-name>
    <url-pattern>/AddNewTeacherEducationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEducationTeacher</servlet-name>
    <jsp-file>/pages/teacher_education/Update_TeacherEducatoin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEducationTeacher</servlet-name>
    <url-pattern>/view/teacher_education/UpdateEducationTeacher</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListEducationTeacher</servlet-name>
    <jsp-file>/pages/teacher_education/Teacher_EducationList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEducationTeacher</servlet-name>
    <url-pattern>/view/teacher_education/ListEducationTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditeTeacherServlet</servlet-name>
    <servlet-class>services.teacher.EditeTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditeTeacherServlet</servlet-name>
    <url-pattern>/EditExistTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditeTeacher</servlet-name>
    <jsp-file>/pages/teacher/UpdateTeacher.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditeTeacher</servlet-name>
    <url-pattern>/view/update/UpdateATeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>services.users.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogoutAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegister</servlet-name>
    <jsp-file>/pages/users/RegisterAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/view/account/RegisterForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LockScreen</servlet-name>
    <jsp-file>/lockScreen.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LockScreen</servlet-name>
    <url-pattern>/lock_screen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BannerMenu</servlet-name>
    <jsp-file>/pages/Menu/TopNav.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BannerMenu</servlet-name>
    <url-pattern>/view/detail/Banner</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeftMenu</servlet-name>
    <jsp-file>/pages/Menu/SideBar.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeftMenu</servlet-name>
    <url-pattern>/view/detail/LeftMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Footer</servlet-name>
    <jsp-file>/pages/Menu/Footer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footer</servlet-name>
    <url-pattern>/view/detail/FooterPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Template</servlet-name>
    <jsp-file>/pages/template/TemplatePage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Template</servlet-name>
    <url-pattern>/view/template/PageTemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserList</servlet-name>
    <jsp-file>/pages/users/UserList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/view/detail/ListUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUser</servlet-name>
    <jsp-file>/pages/users/UpdateUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/view/detail/EditAUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>services.users.UpdateAUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>StudentList</servlet-name>
    <jsp-file>/pages/students/StudentList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/view/detail/ListStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <jsp-file>/pages/students/AddStudent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/view/detail/AddAStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewStudentServlet</servlet-name>
    <servlet-class>services.student.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewStudentServlet</servlet-name>
    <url-pattern>/AddANewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudent</servlet-name>
    <jsp-file>/pages/students/UpdateStudent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/view/update/EditStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAnExistStudent</servlet-name>
    <servlet-class>services.student.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAnExistStudent</servlet-name>
    <url-pattern>/UpdateAStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSubjectClass</servlet-name>
    <jsp-file>/pages/ClassStudy/AddSubjectClass.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectClass</servlet-name>
    <url-pattern>/view/add/SubjectClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuardianList</servlet-name>
    <jsp-file>/pages/Guardian/GuardianList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardianList</servlet-name>
    <url-pattern>/view/list/ListGuardian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGuardian</servlet-name>
    <jsp-file>/pages/Guardian/AddGuardian.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGuardian</servlet-name>
    <url-pattern>/view/add/AddAGuardian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewGuardian</servlet-name>
    <servlet-class>services.guardian.AddGuardianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewGuardian</servlet-name>
    <url-pattern>/AddAGuardian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateGuardian</servlet-name>
    <jsp-file>/pages/Guardian/UpdateGuardian.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGuardian</servlet-name>
    <url-pattern>/view/update/UpdateAGuardian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddVillage</servlet-name>
    <jsp-file>/pages/address/AddVillage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVillage</servlet-name>
    <url-pattern>/view/add/AddVillage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewVillageServlet</servlet-name>
    <servlet-class>services.village.AddVillageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewVillageServlet</servlet-name>
    <url-pattern>/AddNewVillage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommune</servlet-name>
    <jsp-file>/pages/address/AddCommune.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommune</servlet-name>
    <url-pattern>/view/detail/AddNewCommune</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommuneServlet</servlet-name>
    <servlet-class>services.commune.AddCommuneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommuneServlet</servlet-name>
    <url-pattern>/AddNewCommune</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDistrict</servlet-name>
    <jsp-file>/pages/address/AddDistrict.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDistrict</servlet-name>
    <url-pattern>/view/detail/AddNewDistrict</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDistrictServlet</servlet-name>
    <servlet-class>services.district.AddDistrictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDistrictServlet</servlet-name>
    <url-pattern>/AddNewDistrictServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProvince</servlet-name>
    <jsp-file>/pages/address/AddProvince.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProvince</servlet-name>
    <url-pattern>/view/detail/AddNewProvince</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectList</servlet-name>
    <jsp-file>/pages/subjects/SubjectList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectList</servlet-name>
    <url-pattern>/view/detail/ListSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSubject</servlet-name>
    <jsp-file>/pages/subjects/AddSubject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/view/detail/AddNewSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>services.subjects.AddNewSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddNewSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateASubject</servlet-name>
    <jsp-file>/pages/subjects/UpdateSubject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateASubject</servlet-name>
    <url-pattern>/view/edit/udateSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditASubjectServlet</servlet-name>
    <servlet-class>services.subjects.UpdateASubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditASubjectServlet</servlet-name>
    <url-pattern>/UpdateSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAllSubjectCategory</servlet-name>
    <jsp-file>/pages/SubjectCategory/SubjectCategoryList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllSubjectCategory</servlet-name>
    <url-pattern>/view/detail/ListSubjectCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewSubjectCategory</servlet-name>
    <jsp-file>/pages/SubjectCategory/AddSubjectCategory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewSubjectCategory</servlet-name>
    <url-pattern>/view/add/AddSubjectCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSubjectCategory</servlet-name>
    <servlet-class>services.subject_category.AddNewSubjectCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectCategory</servlet-name>
    <url-pattern>/AddSubjectCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditSubjectCategory</servlet-name>
    <jsp-file>/pages/SubjectCategory/UpdateSubjectCategory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubjectCategory</servlet-name>
    <url-pattern>/view/edit/EditSubjectCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateExistSubjectCategory</servlet-name>
    <servlet-class>services.subject_category.EditSubjectCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExistSubjectCategory</servlet-name>
    <url-pattern>/UpdateASubjectCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomList</servlet-name>
    <jsp-file>/pages/Room/ClassroomList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomList</servlet-name>
    <url-pattern>/view/detail/classroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewRoom</servlet-name>
    <jsp-file>/pages/Room/AddClassroom.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewRoom</servlet-name>
    <url-pattern>/view/detail/AddClassroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateRoom</servlet-name>
    <jsp-file>/pages/Room/UpdateClassroom.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoom</servlet-name>
    <url-pattern>/view/detail/UpdateClassroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateClassroomServlet</servlet-name>
    <servlet-class>services.room.UpdateARoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClassroomServlet</servlet-name>
    <url-pattern>/UpdateAClassroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewRoomServlet</servlet-name>
    <servlet-class>services.room.AddRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewRoomServlet</servlet-name>
    <url-pattern>/AddNewClassroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassStudy</servlet-name>
    <jsp-file>/pages/ClassStudy/ClassStudyList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassStudy</servlet-name>
    <url-pattern>/view/list/ClassStudy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateClass</servlet-name>
    <jsp-file>/pages/ClassStudy/UpdateClassStudy.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClass</servlet-name>
    <url-pattern>/view/update/class</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentClass</servlet-name>
    <jsp-file>/pages/ClassStudy/StudentClass.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentClass</servlet-name>
    <url-pattern>/view/StudentClass/ClassStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassStudyDetail</servlet-name>
    <jsp-file>/pages/ClassStudy/ClassStudyDetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassStudyDetail</servlet-name>
    <url-pattern>/view/study/DetailClassStudy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddClassStudyDetail</servlet-name>
    <servlet-class>services.ClassStudyDetail.AddClassStudyDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassStudyDetail</servlet-name>
    <url-pattern>/AddNewClassStudyDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewClassStudyDetail</servlet-name>
    <jsp-file>/pages/ClassStudy/ViewClassStudyDetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewClassStudyDetail</servlet-name>
    <url-pattern>/view/detail/ClassStudyDetailInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServiceServlet</servlet-name>
    <servlet-class>services.users.UserLoginServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServiceServlet</servlet-name>
    <url-pattern>/UserAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUnlockScreen</servlet-name>
    <servlet-class>services.users.UserUnlockScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUnlockScreen</servlet-name>
    <url-pattern>/UnlockScreenAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>services.users.UserRegisterAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/NewUserRegisterAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonthlyScore</servlet-name>
    <jsp-file>/pages/Score/AddScore.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlyScore</servlet-name>
    <url-pattern>/view/score/MonthlyScore</url-pattern>
  </servlet-mapping>
</web-app>